/* #region Common */

/* root{

}*/

body {
    margin: 0;
}

header {
    background-color: aqua;
}

main {
    background-color: blue;
}

footer{
    background-color: rgb(31, 30, 30);
}

hr{
    color: beige;
}

/* #endregion Common */

/* #region Header */


.top-header{
    display: flex;
    padding: 0.5rem 3rem;
    justify-content:center;
}

.logo{
    border: 1px dashed black;
    background-color: orange;
    padding: 0.2rem 3rem 0.2rem 0.2rem;
    align-self: flex-start;
}

.link{
    border: 1px dashed black;
    background-color: orange;
    padding: 0.1rem 3rem;
}

.login{
    border: 1px dashed black;
    background-color: orange;
    padding: 0.2rem 0.2rem 0.2rem 3rem;
    align-self: flex-end;
}

/* #endregion Header */

/* #region Main */

.top-main{
    display: flex;
    padding: 1rem 5rem;
    justify-content: center;
}

.top-main-content{
    background-color: plum;
    border: 1px dashed black;
    height: 12rem;
    width: 30rem;
}

.main-center{
    background-color: white;
    display: flex;
    padding: 1rem 5rem;
}

.main-center-content-left{
    background-color: pink;
    border: 1px dashed black;
    flex-grow: 1;
    height: 10rem;
}

.main-center-content-right{
    background-color: rgba(42, 145, 214, 0.822);
    border: 1px dashed black;
    flex-grow: 2;
}


.main-center-reverse{
    background-color: white;
    display: flex;
    padding: 1rem 5rem;
    background-color: lightgray;
    flex-flow: row-reverse;
}

.bottom-main{
    display: flex;
    padding: 1rem 5rem;
    justify-content: center;
    background-color: lightgray;
}

.bottom-main-content{
    background-color: green;
    border: 1px dashed black;
    height: 12rem;
    width: 35rem;
}

/* #endregion Main */

/* #region Footer */

.footer-content{
    display: flex;
    justify-content: center;
    padding: 0.1rem 1rem 2rem 1rem;
}

.footer-pink{
    background-color: pink;
    border: 1px dashed black;
    flex-grow: 2;
}

.footer-acqua{
    background-color: aqua;
    border: 1px dashed black;
    flex-grow: 1;
    height: 10rem;
}

.footer-logo{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.logo-bot{
    background-color: white;
    border: 1px dashed black;
    margin: 1rem 0;
}

.btn{
    background-color: white ;
    border: 1px dashed black;
    margin: 1rem 0;
}

/* #endregion Footer */