/* #region Common */

/* root{

}*/

body {
    margin: 0;
}

header {
    background-color: aqua;
}

main {
    background-color: blue;
}

footer{
    background-color: limegreen;
}

/* #endregion Common */

/* #region Header */


.top-header{
    display: flex;
    padding: 0.5rem 3rem;
    justify-content:center;
}

.logo{
    border: 1px dashed black;
    background-color: orange;
    padding: 0.2rem 3rem 0.2rem 0.2rem;
    align-self: flex-start;
}

.link{
    border: 1px dashed black;
    background-color: orange;
    padding: 0.1rem 3rem;
}

.login{
    border: 1px dashed black;
    background-color: orange;
    padding: 0.2rem 0.2rem 0.2rem 3rem;
    align-self: flex-end;
}

/* #endregion Header */

/* #region Main */

.top-main{
    display: flex;
    padding: 1rem 5rem;
    justify-content: center;
}

.top-main-content{
    background-color: plum;
    border: 1px dashed black;
    height: 10rem;
    width: 20rem;
}

.main-center{
    background-color: white;
    display: flex;
    padding: 1rem 5rem;
    
}

.main-center-content-left{
    background-color: pink;
    border: 1px dashed black;
    flex-grow: 1;
    height: 10rem;
}

.main-center-content-right{
    background-color: rgba(42, 145, 214, 0.822);
    border: 1px dashed black;
    flex-grow: 2;
}


.main-center-reverse{
    background-color: white;
    display: flex;
    padding: 1rem 5rem;
    background-color: lightgray;
    flex-flow: row-reverse;
}

/* #endregion Main */